:root {
  --white: #fff;
  --purle: #1f2757;
}

* {
  /* outline: 1px solid black; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  display: none;
}

/* navbar Style */
.navbar {
  height: 60px;

  /* navbar nav */
  & .navbar-nav {
    & a {
      color: var(--purle);
      font-weight: 400;
    }
    & a:hover {
      color: var(--purle);
    }
  }
}

/* Hero Style */
#Hero {
  background: rgb(55, 186, 255);
  background-repeat: no-repeat;
  background: linear-gradient(
    128deg,
    rgba(55, 186, 255, 1) 0%,
    rgba(90, 83, 230, 1) 100%
  );
  & .container {
    height: 100vh;
    display: grid;
    place-items: center;
  }

  & p {
    color: var(--white);
    font-size: 20px;
  }
  & h1 {
    color: var(--white);
    font-weight: 700;
    font-size: 60px;

    & .nameClr {
      color: var(--purle);
    }
  }

  & button {
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica, "sans-serif";
    transition: all 0.2s;
    padding: 10px 20px;
    border-radius: 60px;
    background: var(--white);
    color: var(--purle);
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
  }

  & button:hover {
    background: var(--purle);
    color: var(--white);
  }

  & button > svg {
    width: 34px;
    color: var(--white);
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
  }

  & button span {
    font-weight: 600;
  }

  & button:hover svg {
    transform: translateX(5px);
  }

  & button:hover #change {
    fill: white !important;
  }

  & button:hover #changes {
    stroke: white !important;
  }

  & button:active {
    transform: scale(0.95);
  }
}

/* About */

#About {
  background-color: #fff;
  padding: 150px 0;

  & .title {
    color: var(--white);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--purle);
  }
  & h1 {
    margin: 0;
    display: flex;
    color: var(--purle);
    align-items: end;
    font-size: 80px;
    font-weight: 700;
  }

  & .content {
    & h2 {
      color: var(--purle);
      font-size: 40px;
      font-weight: 700;
    }
  }

  & a {
    color: var(--purle);
    font-weight: 500;
    display: flex;
    align-items: end;
  }

  .content {
    margin-top: 50px;
  }
}

/* Project */

#Project {
  background: rgb(55, 186, 255);
  background-repeat: no-repeat;
  background: linear-gradient(
    128deg,
    rgba(55, 186, 255, 1) 0%,
    rgba(90, 83, 230, 1) 100%
  );
  padding: 180px 0;
  & .title {
    border-bottom: 1px solid white;
    & h1 {
      margin-bottom: 20px;
      display: flex;
      color: var(--white);
      align-items: end;
      font-size: 80px;
      font-weight: 700;
    }
  }
  & .card {
    color: white;
    border: 1px solid white;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    height: 200px;
    padding: 20px 0;
  }

  & .card-text {
    color: #fff;
    font-weight: 300;
  }
}

/* Kontak */
#Kontak {
  padding: 150px 0;
  & .title {
    border-bottom: 1px solid var(--purle);
    & h1 {
      margin-bottom: 20px;
      display: flex;
      color: var(--purle);
      align-items: end;
      font-size: 80px;
      font-weight: 700;
    }
  }
  & .input-group {
    gap: 10px;
  }

  & textarea {
    padding: 20px 10px;
  }

  & .input-group2 {
    /* button send style */
    & button {
      font-family: inherit;
      font-size: 20px;
      margin-top: 20px;
      background: var(--purle);
      color: white;
      padding: 0.7em 1em;
      padding-left: 0.9em;
      display: flex;
      align-items: center;
      border: none;
      border-radius: 16px;
      overflow: hidden;
      transition: all 0.2s;
    }

    & button span {
      display: block;
      margin-left: 0.3em;
      transition: all 0.3s ease-in-out;
    }

    & button svg {
      display: block;
      transform-origin: center center;
      transition: transform 0.3s ease-in-out;
    }

    & button:hover .svg-wrapper {
      animation: fly-1 0.6s ease-in-out infinite alternate;
    }

    & button:hover svg {
      transform: translateX(1.2em) rotate(45deg) scale(1.1);
    }

    & button:hover span {
      transform: translateX(5em);
    }

    & button:active {
      transform: scale(0.95);
    }

    @keyframes fly-1 {
      from {
        transform: translateY(0.1em);
      }

      to {
        transform: translateY(-0.1em);
      }
    }
  }
}

/* footer */
footer {
  padding: 50px 0;
  color: var(--white);
  background-color: var(--purle);
}

/* Media Screen */
@media screen and (min-width: 992px) {
  .navbar-brand {
    display: none !important;
  }

  .navbar-nav {
    gap: 50px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 992px) {
  #About .content {
    text-align: center;
  }
  #About .content h2 {
    margin-top: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  #Hero h1 {
    font-size: 40px;
  }

  #About h1 {
    font-size: 30px;
  }

  #Kontak .title h1 {
    font-size: 30px;
  }

  #About h4 {
    font-size: 20px;
  }

  #Project .title h1 {
    font-size: 30px;
  }

  #About .content {
    text-align: center;
  }
  #About .content h2 {
    margin-top: 20px;
    text-align: center;
  }

  #Project .card {
    height: 300px;
  }
}
